 {% extends 'base.html' %}
 {% block title %}Photo gallery home{% endblock title %}
 {% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="card">
            <div class="card-header">
                Categories
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item active">All</li>
                {% for cate in category %}
                   <li class="list-group-item"> {{cate.name}}</li>
                {% endfor %}
                
                   <a class="btn btn-success btn-block btn-sm m-2 " href="{% url 'add' %}">Add Photo</a>
                
            </ul>
            </div>
        </div>
        <div class="col-md-9">
           <div class="row">
           {% for gall in gallery %}
             <div class="col-md-4">
                <div class="card">
                {% if gall.photo %}
                    <a href="{% url 'view' gall.id %}"><img src="{{gall.photo.url}}" class="card-img-top" alt="..."></a>
                {% endif %}  
                    <div class="card-body">
                         <p>{{gall.description}}</p>
                        <b class="card-text">Category: {{gall.catagory}}</b>
                    </div>
                <a href="{% url 'view' gall.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                </div>
             </div> 
             {% empty %}
             <h2>No Photos...</h2>
           {% endfor %}
           </div>                
        </div>
      </div>
    </div>



{% endblock content %}