
<div class="d-flex justify-content-center m-5">
    {% if page_obt.has_previous %}
      <div class="mx-4 px-4 text-white bg-success">
        <a class="btn btn-success" href='?page={{page_obt.previous_page_number}}'> Previous </a></h2> 
      </div>
    {% endif %}
    <div class="mx-4 px-4 text-white bg-dark">
        <h4>{{page_obt.number}} of {{page_obt.paginator.num_pages}} pages </h4>
    </div>
    {% if page_obt.has_next %}
         <div class="mx-4 px-4 text-white bg-success">
            <a class="btn btn-success " href='?page={{page_obt.next_page_number}}'> Next </a> 
        </div>
    {% endif %}
</div>